* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main_bg_color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: color 0.1s ease;
    color: var(--main_text_color);
    backdrop-filter:  blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: -99999999;
  }

  #main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #click-section {
    width: 35%;
    height: 100%;
    padding: 20px 0;
    position: relative;
  }

  @media (max-width: 320px) {
    #click-section {
      display: none;
    }
  }

  @media (max-width: 480px) {
    #click-section {
      display: none;
    }
  }
  
  /* 对于中等大小的手机和平板电脑 */
  @media (max-width: 768px) {
    #click-section {
      display: none;
    }
  }

  #drawerboxes {
    margin-left: 10%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #drawerboxes::before {
    content: "";
    width: 8px;
    height: 94%;
    position: absolute;
    left: -10px;
    top: 3%;
    z-index: 120;
  }

  .drawerbox {
    height: calc(100% / 5.5);
    width: 70%;
    position: relative;
    z-index: 100;
    transform: translateX(-70%);
    transition: transform .5s ease-in-out;
  }

  .drawerbox.active {
    transform: translateX(0);
  }

  .drawer-btn {
    width: 100%;
    height: 100%;
    font: 800 30px '';
    border-radius: 100px;
    text-align: center;
    border: none;
    background-color:rgb(112, 117, 117);
    transition: background-color .5s ease-in-out;
    color: #ffffff00;
  }

  .drawer-btn.active {
    background-image: url(https://cdn.jsdelivr.net/gh/TonyDDcui/Self_Introduction@latest/static/img/background.jpg);
    background-size: cover;
    color: rgb(235, 237, 242);
  }

  .drawer-btn:hover {
    cursor: pointer;
  }

  .drawer-head {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 200px;
    font-weight: 700;
    right: -40px;
    top: calc(50% - 135px);
  }

  #slide-section {
    position: relative;
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }

  #slide-bar {
    position: absolute;
    top: 10%;
    left: 40px;
    height: 80%;
    width: 1px;
    background-color: rgb(223, 223, 223);
  }

  #bar {
    position: absolute;
    height: calc(100% / 4);
    width: 5px;
    top: 0;
    left: -1.2px;
    background-color: rgb(175, 190, 255);
    transition: transform .5s ease-in-out;
  }

  #card-section {
    height: 100%;
    width: 80%;
    overflow: hidden;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    color: white;
    font-size: 30px;
    transition: transform .5s ease-in-out;
  }

  .card-small-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: min(5%, 10px);
    color: rgb(70, 100, 180);
  }

  .card-title {
    font-size: 80px;
    font-weight: 700;
    padding-bottom: min(20%, 40px);
    color: rgb(70, 100, 180);
  }

  .card-content {
    font-size: 24px;
    font-weight: 400;
    color: rgb(94, 123, 255);
    margin-bottom: 60px;
  }

  .card-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .card-img img {
    width: 100%;
  }


  