* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width:100%;
    min-height: 100vh;
    overflow-x: hidden;
    position:relative;
    background: var(--main_bg_color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: color 0.1s ease;
    color: var(--main_text_color);
}

.filter {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--back_filter_color);
    backdrop-filter:  blur(var(--back_filter));
    -webkit-backdrop-filter: blur(var(--back_filter));
    z-index: -99999999;
}

.shell {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 100px;
}

.main h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.main span {
    padding: 0 100px;
    font-size: 30px;
}



@import url('https://fonts.googleapis.com/css?family=Lato:700,900');

@font-face {
    font-family: Arno Pro;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ArnoPro-Regular.otf);
    font-style: normal;
}

@font-face {
    font-family: Arno Pro;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ArnoPro-Italic.otf);
    font-style: italic;
}

p {
    font-family: Arno Pro, serif;
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 0;
}

p.credits {
    font-style: italic;
    text-indent: 0 !important;
    margin: 1rem 0;
}

p a {
    font-weight: bolder;
    color: #000;
    text-decoration: none;
}

@supports (font-variant-caps: small-caps) {
    .multicol:first-of-type p:first-of-type {
        font-variant-caps: small-caps;
    }
}

p:not(:first-of-type) {
    text-indent: 1.4rem;
}

.multicol {
    margin-top: 3%;
    margin-bottom: 3%;
    column-count: 4;
    column-gap: 2rem;
}

.multicol+img {
    margin: 2rem 0;
}

article {
    width: 80%;
    margin: 0 auto 4rem;
}

article img {
    width: 100%;
    z-index: 100000;
    max-width: 84%;
    min-height: 10%;
    background-color: #ffffff;
    border-radius: 56px;

    flex-shrink: 0;

    display: flex;
    transition: transform 0.2s linear;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform:scale(0.98);
}

.img-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    justify-content: center;
    flex-direction: column;
}


article header {
    margin-bottom: 2.5rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

article h1 {
    margin-top: 0;
    font-size: 3rem;
}

article h2 {
    break-after: column;
    font-size: 1.5rem;
}

h1,
h2 {
    font-family: Lato, sans-serif;
}

@media all and (max-width: 1600px) {
    .multicol {
        column-count: 3;
    }
}

@media all and (max-width: 1000px) {
    .multicol {
        column-count: 2;
    }
}

@media all and (max-width:800px) {
    article h2 {
        break-after: avoid;
    }

    .multicol {
        column-count: 1;
    }
}

@media all and (max-width:600px) {
    body {
        margin: 0;
    }

    article {
        width: 100%;
    }

    .multicol {
        padding: 0 1rem;
    }

    article header {
        margin-bottom: 2.5rem;
        padding-bottom: 0;
        border-bottom: none;
    }

    h1 {
        margin-bottom: 0;
    }
}

.designed-type{
    font-size: 20px; 
    color: #666; 
}

footer{
    position: relative;
    padding: 10px;
    text-align: center;
    width: 100%;
    backdrop-filter: blur(var(--card_filter));
    -webkit-backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
    color: var(--footer_text_color);
    font-size: 13px;
    bottom: 0;
}